<h1> Eliana Feasley </h1>
<h2> Notorious adventurer and seeker of truth </h2>
Second Year PhD student in Computer Science
Maker of cute and clever programs.
Machine Learning whiz!
Check out my publications and research, read my blog, reach out and contact me,
read my cv, or look at awesome projects I've done.
Or just continue on your merry way
