<footer class="footer">
  <small>
    <a href="http://www.elianafeasley.com">Me!</a>
  </small>
  <nav>
    <ul>
      <li><a href="twitter.com/eli_awry">
        <img src="twitter.png" alt="tweeeeetttttttttttt"></a></p></li>

      <li><a href="https://plus.google.com/116358054955545033548/">
        <img src="googleplus.png" alt="ciiirrrcllleeeee mmeeeeee"></a></p></li>

          <li><a href="github.com/elifeasley">
        <img src="github.png" alt="hackety hack hack hackety hack"></a></p></li>
    </ul>
  </nav>
</footer>
